@montserrat: 'Montserrat', sans-serif;
@satisfy: 'Satisfy', sans-serif;
@lora: 'Lora', serif;

html {
    height: 100%;

    body {
        background-color: #FFFDFE;
        height: 100%;
    }
}


////***** BREAKPOINTS *****+////


@media (max-width: 575.98px) {

    html {
        body {}
    }
}
